/* 캘린더 모든 최상위부모 */
.all{
    height: 900px;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

/* 날짜와 버튼 최상위부모------------------------*/
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}

/* 날짜와 버튼 감싸는부모*/
.header__docs{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 버튼 & 날짜 개별부모 */
.header__docs__ch{
    display: flex;
    align-items: center;
}

.header__docs__ch > span{
    margin: 0 1rem; 
    font-size: 4rem;
}

.icon{
    color: gray;
    font-size: 10rem;
}
.icon2{
    /* color: gray; */
    font-size: 4rem; 
}


/* 요일 최상위부모 */
.sub__week{
    display: flex;
    justify-content: space-around;
    font-weight: bold;
}

/* 각요일들 */
.sub__week__docs{
    padding: 1.5rem 1rem;
    width:100%;
    color: black;
    border: 1px solid black;
}

.sub__week div:first-child{
    color: red;
}

.sub__week div:last-child{ 
    color: blue;
}





/* 한달을 다감싸는 최상위부모 */
.month{
    flex: 1;
    display: flex;
    flex-direction: column;
}

/*  1주일을 나타내는 부모 가로 */
.month__week{
    flex: 1;
    display: flex;
    justify-content: space-around;
}

/*  각 날짜들*/
.month__day{
    padding: .5rem;
    text-align: left;
    flex: 1;
    border: 1px solid black;
    color: black;
}

.same_font{
    display: none;
}

.money_blue{
    color: blue;
}
.money_red{
    color: red;
}


/* 캘린더서브영역 */

.suball{
    box-sizing: border-box;
    height: 800px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    
}

.suball__top{
    flex: 3;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 20px;
    
}   

.suball__bottom{
    flex: 1;
    border: 1px solid black;
    border-radius: 10px;
}

/* 공통헤더타이틀 */
.suball__common__title{
    padding: 1rem;
    display: flex;
    font-size: 2rem;
    font-weight: 500;
}

.suball__top__title__ch1{
    flex: 1;
}

.suball__top__title__ch2{
    flex: 2;
}

.suball__top__title__ch2 *:first-child{
    color: blue;
}
.suball__top__title__ch2 *:last-child{
    color: red;
}

.suball__top__content{
    font-size: 2rem;
    padding: 1rem;
    text-align: left;
}

.suball__top__content > h4{
    text-align: left;
    padding-bottom: 2rem;
}

.sub__list{
    padding: .5rem;
}

.sub__list > span{
    margin: 0 10px;
}

.sub__list__color{
    color: red;
}
.suball__bottom__content{
    height: calc(100% - 60.49px);
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    
}

.suball__bottom__today{
    
    font-weight: bolder;
    padding: .5rem;
    flex:1;
}
.suball__bottom__moneth{
    flex:2;
     
}