.layOut{
  width: 1200px;
  background-color: gray;
  margin: 0 auto;
  height: 100vh;
}


.tap__List{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
  text-align: center;
  font-size: 2rem;
}
.tap__List__Docs{
  flex: 1;
  border: 1px solid black;
  padding: 1rem;
  cursor: pointer;
}